<html>
  <head>
    <title>Find a charity</title>
  </head>
  <body>
    <style>
       html { font-family: sans-serif }
       ul.results { list-style-type: none }
    </style>
    <h1>Find a charity</h1>

    <form action="/">
      <label for=q>&#128269;</label>
      <input name=q id=q value="{{q}}" />
      <button type=submit>Search</button>
    </form>


    {% if results %}
      <p>
        Showing {{ first + 1 }} - {{ last }} of {{ nbResults }} results
        (<a
          {% if first > 0 %}href="?q={{q}}&p={{first-size}}"{% endif %}
        >previous page</a>
        -
        <a
          {% if first+size < nbResults %}
          href="?q={{q}}&p={{first+size}}"
          {% endif %}
        >next page</a>)
      </p>

      <ul class="results">
        {% for r in results %}
          {% set rs = r._source %}
          {% set rlc0 = rs.linkedCharities[0] %}
          <li>
            <h2>{{ loop.index }}. {{ rlc0.name|capitalize }}</h2>
            <p>{{ rlc0.object|capitalize }}</p>
            {% if rs.classes %}
              <ul>
                {% for class in rs.classes %}
                  <li>{{ class|capitalize }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            {% if rs.aoo or rlc0.aob %}
              <h3>Operates in</h3>
              <ul>
                {% if rlc0.aob %}
                  <li>{{ rlc0.aob|capitalize }}</li>
                {% endif %}
                {% for aoo in rs.aoo %}
                  <li>{{aoo[0].name}}</li>
                {% endfor %}
              </ul>
            {% endif %}

            {% if rlc0.add1 %}
              <h3>Address</h3>
              <p>
                {{ rlc0.add1|capitalize }}<br/>
                {% if rlc0.add2 %}{{ rlc0.add2|capitalize }}<br/>{% endif %}
                {% if rlc0.add3 %}{{ rlc0.add3|capitalize }}<br/>{% endif %}
                {% if rlc0.add4 %}{{ rlc0.add4|capitalize }}<br/>{% endif %}
                {% if rlc0.add5 %}{{ rlc0.add5|capitalize }}<br/>{% endif %}
                {% if rlc0.postcode %}{{ rlc0.postcode }}<br/>{% endif %}
                {% if rlc0.phone %}{{ rlc0.phone }}<br/>{% endif %}
              </p>
            {% endif %}
          </li>
          <hr/>
        {% endfor %}
      </ul>
    {% else %}
      <p>No results</p>
    {% endif %}

  </body>
</html>
